<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="kr.or.dgit.mybatis_dev_teacher.persistences.StudentMapper">
	
	<insert id="insert" parameterType="Student">
        INSERT INTO STUDENTS(STUD_ID, NAME, EMAIL, PHONE, DOB) 
        VALUES(#{studId}, #{name}, #{email}, #{phone}, #{dob})
    </insert>
	
	<insert id="insertStudent" parameterType="Student">
        INSERT INTO STUDENTS(STUD_ID, NAME, EMAIL, PHONE, DOB) 
        VALUES(#{studId}, #{name}, #{email}, #{phone}, #{dob})
    </insert>
    
    <sql id="selectSql">
		select STUD_ID, NAME, EMAIL, PHONE, DOB from students
	</sql>

	<sql id="whereSql">
		<where>
			<if test="studId != null">
				stud_id=#{studId}
			</if>
		</where>
	</sql>
    
    <select id="selectStudent" parameterType="Student" resultType="Student">
    	<!-- select STUD_ID, NAME, EMAIL, PHONE, DOB from students where stud_id=#{studId} -->
    	<include refid="selectSql" />
		<include refid="whereSql" />
    </select>
    
    <select id="select" parameterType="Student" resultType="Student">
    	<!-- select STUD_ID, NAME, EMAIL, PHONE, DOB from students where stud_id=#{studId} -->
    	<include refid="selectSql" />
		<include refid="whereSql" />
    </select>
    
    <select id="selectStudentByAll" resultType="Student">
    	<!-- select STUD_ID, NAME, EMAIL, PHONE, DOB from students -->
    	<include refid="selectSql" />
    </select>
    <select id="list" resultType="Student">
    	<!-- select STUD_ID, NAME, EMAIL, PHONE, DOB from students -->
    	<include refid="selectSql" />
    </select>
    
    <update id="updateStudent" parameterType="Student">
    	UPDATE STUDENTS SET NAME=#{name}, EMAIL=#{email}, PHONE=#{phone} WHERE STUD_ID=#{studId}
    </update>
    
    <update id="update" parameterType="Student">
    	UPDATE STUDENTS SET NAME=#{name}, EMAIL=#{email}, PHONE=#{phone} WHERE STUD_ID=#{studId}
    </update>
    
    <delete id="deleteStudent" parameterType="Student">
    	Delete From Students where  STUD_ID=#{studId}
    </delete>

    <delete id="delete" parameterType="Student">
    	Delete From Students where  STUD_ID=#{studId}
    </delete>
</mapper>